@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --main-bg-color: #2874f0;
  }

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
header{
    background: var(--main-bg-color); 
   
}

nav{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 88px;
    padding: 0 25px;
}

nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none; 
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

a:hover{ 
   color: #151516ce;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding:0 12px;
}

.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.slider{ 
    width: 94vw;
    background-position: center;
    margin: 12px auto;
    overflow: hidden;
}
.slider img{
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;

}

.card{
    max-width: 91vw;
    margin: 37px auto;
    font-family: 'Ubuntu', sans-serif;
}

.cards{
    display: flex; 
    overflow: hidden;
    width: 100%;
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 24px;
}

.card h2{
    font-family: 'Lato', sans-serif;
}

.container{
    min-height: calc(100vh - 58px - 12vh);
}

footer{
    height: 12vh;
    background-color: var(--main-bg-color); 
    color: white;
    font-family: 'Lato', sans-serif;
}
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
padding: 5px 10px;
color: white;
background: var(--main-bg-color);
border: 1px solid white;
border-radius: 6px;
margin: 10px;
cursor: pointer; 
font-family: 'Poppins', sans-serif;
letter-spacing: 1.3px;
transition: .2s ease;
}
